
<p>
  <form method="get" action="/quizzes/<%= quiz.id %>/check">        
    <p>
      Pregunta: <%= quiz.question %>
    </p>

    <p>
      <input type="text" name="answer" value="<%= answer %>" placeholder="Respuesta" />
      <input type="submit" value="Comprobar">
    </p>
  </form>
</p>

<p>
  <a href="/quizzes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a>
</p>

<p><strong>Comentarios:</strong></p>

<ul>
<% for (var i in quiz.Comments) { %>
	<li> <%=quiz.Comments[i].text %> </li>
<% } %>
</ul>
