
<h2>Usuario</h2>

<p>
  <b>Username:</b>
  <%= user.username %>
</p>

<p>
  <b>Es Administrador:</b>
  <%= user.isAdmin ? "Si" : "No" %>
</p>

<p>
  <a href="/users/<%= user.id %>/edit"> 
    <button type="button"> Editar </button>
  </a>
  <a href="/users/<%= user.id %>?_method=DELETE"> 
    <button type="button"
            onClick="return confirm('Borrar cuenta: <%= user.username %>');">
       Borrar 
    </button>
  </a>
</p>

<a href="/users"> 
   <button type="button">Volver</button>
</a>